/*-----------------Ici commence la partie Zoom Sur - fait par Ion-----------------*/
.Zoom {
  background: #EAEAEA;
  width: 100vw;
  height: 100vh;

}
* {
  margin: 0;
  padding: 0;
}
/*------------------------Style pour le text zoom sur------------------------*/
.Zoom-first-title {
  width: 915px;
  height: 12.5px;
  border-bottom: 1px solid #666666;
  text-align: center;
  display: block;
  margin: 0 auto;
}
.Zoom-first-title span {
  font-size: 25px;
  color: #666666;
  background-color: #EAEAEA;
  padding: 0 10px;
}
/*-----------------J'ai creer une div afin de pouvoir utiliser flexbox et centrer le carousel-----------------*/
.ZoomContainer {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  padding: 10px 0;
}
/*-----------------------------COntainer pour les elements de carousel-----------------------------*/
.ZoomCarousel {
  width: 930px;
  height: 256px;
  display: flex;
  justify-content: center;
  overflow: hidden;

}

/*-----------------------------------Le premier element du slider-----------------------------------*/
.Z-FirstImage {
  background: url('./image/first.jpg');
  max-width: 296px;
  min-width: 296px;
  max-height: 243px;
  min-height: 243px;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  position: relative;
  margin-left: 310px;
  margin-right: 15px;


}
/*-----------------------------------le code a virer si j'oublie a le faire-----------------------------------*/
/*div {
	width: 90px; height: 90px;
	background: #fff;
	border: 20px solid #aaa;
	border-radius: 30px;

	transition: border-radius 2s, border-color 3s;
}
div:hover {
	border-color: #333;
	transform: rotate(1080deg);
	border-radius: 50%;

	transition: all 2s;
}*/
#next {
  position: absolute;
  right: 200px;
}
#prev {
  position: absolute;
  left: 200px;
}

/*---------------------J'ai creer l'animation slideup que je vais reutiliser pour tous les elements du Carousel---------------------*/
.Z-FirstImage .Z-first-description {
  background: rgba(0, 0, 0, 0.60);
  width: 100%;
  height: 60%;
  color: #fff;
  margin-bottom: -116px;
  transition: all 0.5s;
}

 .Z-FirstImage:hover .Z-first-description  {
  margin-bottom: 0px;
  transition: all 0.5s;
}
.Z-FirstImage:hover .Z-button  {
 display: block;

}

/*-----------------------------------Le 2eme element du slider-----------------------------------*/
.Z-SecondImage {
  background: url('./image/third.jpg');
  max-width: 296px;
  min-width: 296px;
  max-height: 243px;
  min-height: 243px;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  position: relative;
  margin-right: 15px;
}
.Z-SecondImage .Z-first-description {
  background: rgba(0, 0, 0, 0.60);
  width: 100%;
  height: 60%;
  color: #fff;
  margin-bottom: -116px;
  transition: all 0.5s;
}

.Z-SecondImage:hover .Z-first-description  {
  margin-bottom: 0px;
  transition: all 0.5s;
}
.Z-SecondImage:hover .Z-button  {
 display: block;
}
/*-----------------------------------Le 3eme element du slider-----------------------------------*/
.Z-ThirdImage {
  background: url('./image/forthy.jpg');
  max-width: 296px;
  min-width: 296px;
  max-height: 243px;
  min-height: 243px;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  position: relative;
  margin-right: 10px;
}
.Z-ThirdImage .Z-first-description {
  background: rgba(0, 0, 0, 0.60);
  width: 100%;
  height: 60%;
  color: #fff;
  margin-bottom: -116px;
  transition: all 0.5s;
}

 .Z-ThirdImage:hover .Z-first-description  {
  margin-bottom: 0px;
  transition: all 0.5s;
  font-family: 'Arial', sans-serif;
}
.Z-ThirdImage:hover .Z-button  {
 display: block;
}
/*------------------------------------------Style pour le texte du slider------------------------------------------*/
.ZoomContainer a {
  text-decoration: none;
}
.ZoomCarousel .Z-first-description .Z-title {
  padding: 6px;
  font-size: 15px;
  color: #fff;
}
.ZoomCarousel .Z-first-description p {
  font-size: 14px;
  padding: 6px;
  color: #fff;
  line-height: 17px;
}
/*--------------------------------creation du button--------------------------------*/
.Z-button {
  display: none;
  position: absolute;
  right: 10px;
  bottom: 10px;
  background: #ffad2b;
  border: none;
  padding: 0 10px;
  height: 32px;
  line-height: 32px;
  font-size: 13px;
  color: #2c3035;
  border-radius: 5px;
  font-weight: bold;
}
